#malus{
  width: 60px;
  margin-left: auto;
  margin-top: 50px;
}

#as{
  width: 250px;
  margin-top: 50px;

}

#tirage{
  width: 60px;
  margin-top: 50px;
  margin-right: auto;
}

img{

   height:100px;
   width:50px;
}
body{

  background-image: url("../image/fond.jpg");
  background-attachment: fixed;
  background-position: center;
  color:white;

}
